<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <customErrors mode="Off" defaultRedirect="Default.aspx" redirectMode="ResponseRewrite">
      <error statusCode="404" redirect="Default.aspx" />
    </customErrors>
    <authentication mode="Forms">
      <forms loginUrl="~/SignIn.aspx" />
    </authentication>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Speech, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Routing, Version=3.5.0.0,    Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add assembly="Telerik.Web.UI, Version=2012.1.215.40, Culture=neutral, PublicKeyToken=121fae78165ba3d4" />
          <!--<add assembly="Telerik.Web.UI, Version=2011.1.315.40, Culture=neutral, PublicKeyToken=121fae78165ba3d4"/>-->
          <add assembly="AjaxControlToolkit, Version=4.1.60623.0, Culture=neutral, PublicKeyToken=28f01b0e84b6d53e" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </buildProviders>
    </compilation>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="tel" namespace="Telerik.Web.UI" assembly="Telerik.Web.UI ,Version=2012.1.215.40, Culture=neutral, PublicKeyToken=121fae78165ba3d4" />
        <add tagPrefix="iac" namespace="IntelArcade.Web" assembly="IntelArcade.Web" />
        <add tagPrefix="iac" namespace="IntelArcade.WebApp.Controls" assembly="IntelArcade.WebApp" />
        <add tagPrefix="telerik" namespace="Telerik.Web.UI" assembly="Telerik.Web.UI, Version=2012.1.215.40, Culture=neutral, PublicKeyToken=121fae78165ba3d4" />
        <add tagPrefix="ajaxControlToolkit" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit, Version=4.1.60623.0, Culture=neutral, PublicKeyToken=28f01b0e84b6d53e" />
      </controls>
    </pages>
    <httpHandlers>
      <add path="*.iares" verb="*" type="IntelArcade.WebApp.ResourceInstanceHandler" validate="false" />
      <add path="*.iacres" verb="*" type="IntelArcade.WebApp.ResourceInstanceCachedHandler" validate="false" />
      <!--<add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false"/>-->
      <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource, Telerik.Web.UI,Version=2012.1.215.40, Culture=neutral,PublicKeyToken=121fae78165ba3d4" verb="*" validate="false" />
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false" />
      <add path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler, Telerik.Web.UI,Version=2012.1.215.40, Culture=neutral,PublicKeyToken=121fae78165ba3d4" verb="*" validate="false" />
      <add path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler, Telerik.Web.UI,Version=2012.1.215.40, Culture=neutral,PublicKeyToken=121fae78165ba3d4" verb="*" validate="false" />
      <add path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler, Telerik.Web.UI,Version=2012.1.215.40, Culture=neutral,PublicKeyToken=121fae78165ba3d4" verb="*" validate="false" />
      <!--<add path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" validate="false"/>-->
    </httpHandlers>
    <httpModules>
      <add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web.Routing, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="RadUploadModule" type="Telerik.Web.UI.RadUploadHttpModule" />
    </httpModules>
    <httpRuntime maxRequestLength="912000" executionTimeout="9000" requestValidationMode="2.0" />
        <machineKey decryptionKey="B83DCDDB7C454CB2C1D2AF043FD27E051B94F8760BA95784" validation="MD5" validationKey="DCB79E1080EAD7A48331F3B7AE2D795229CF9E02F6E6FDCC79C4816D3F326337139E48E983730DBD169D1EB06C2133652CF3CBD264BDA960FA3AC9E1763DBC3E" />

  </system.web>
  
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <staticContent>
      <mimeMap fileExtension=".iares" mimeType="application/octet-stream" />
      <mimeMap fileExtension=".iacres" mimeType="application/octet-stream" />
    </staticContent>
    <modules runAllManagedModulesForAllRequests="true">
      
      <remove name="RadUploadModule" /><add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web.Routing, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="RadUploadModule" type="Telerik.Web.UI.RadUploadHttpModule" preCondition="integratedMode" />
    </modules>
    <handlers>
      <remove name="IntelArcadeResourceInstanceHandler" />
      <remove name="IntelArcadeResourceInstanceCachedHandler" />
      
      <remove name="ChartImage_axd" />
      <remove name="Telerik_Web_UI_SpellCheckHandler_axd" />
      <remove name="Telerik_Web_UI_DialogHandler_aspx" />
      <remove name="Telerik_RadUploadProgressHandler_ashx" />
      <remove name="Telerik_Web_UI_WebResource_axd" /><add name="IntelArcadeResourceInstanceHandler" verb="*" preCondition="integratedMode" path="*.iares" type="IntelArcade.WebApp.ResourceInstanceHandler" />
      <add name="IntelArcadeResourceInstanceCachedHandler" verb="*" preCondition="integratedMode" path="*.iacres" type="IntelArcade.WebApp.ResourceInstanceCachedHandler" />
      <add name="Telerik_Web_UI_WebResource_axd" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" preCondition="integratedMode" />
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <add name="UrlRoutingHandler" preCondition="integratedMode" verb="*" path="UrlRouting.axd" type="System.Web.HttpForbiddenHandler,                 System.Web, Version=2.0.0.0, Culture=neutral,              PublicKeyToken=b03f5f7f11d50a3a" />
      <add name="Telerik_RadUploadProgressHandler_ashx" path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" preCondition="integratedMode" />
      <add name="ChartImage_axd" path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" preCondition="integratedMode" />
      <add name="Telerik_Web_UI_SpellCheckHandler_axd" path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" preCondition="integratedMode" />
      <add name="Telerik_Web_UI_DialogHandler_aspx" path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" preCondition="integratedMode" />
    </handlers>
  <security>
    <requestFiltering>
      <requestLimits maxAllowedContentLength="933888000" /></requestFiltering></security>
  </system.webServer>
  <system.net>
    <mailSettings>
      <!--<smtp deliveryMethod="SpecifiedPickupDirectory" from="noreply@intelarcade.com">
        <specifiedPickupDirectory pickupDirectoryLocation="C:\Data\Temp\IIS-Email"/>
        --><!--<network host="mail.interlarcade.eu" userName="private@intelarcade.eu" password="1ntBrent"/>--><!--

      </smtp>-->

      <smtp deliveryMethod="Network" from="noreply@intelarcade.com">

        <network host="smtp.1and1.com" port="25" userName="m39911745-systems" password="systemmailaccount" enableSsl="true" />
      </smtp>
    </mailSettings>
  </system.net>
  <connectionStrings>
    <!--<add name="IADBTemplate" connectionString="Data Source=.\DEVELOP;Initial Catalog={0};Integrated Security=True"/>-->
    <add name="IADBTemplate" connectionString="Data Source=.;Initial Catalog={0};Integrated Security=True;Password=sa;Persist Security Info=True;User ID=sa;" />
<!--<add name="IADBTemplate" connectionString="Data Source=.;Initial Catalog={0};Integrated Security=True;Password=sa;Persist Security Info=True;User ID=sa;"/>
-->
  </connectionStrings>

  <appSettings>
  </appSettings>
</configuration>